<section class="menu-target3">
    <h2><i class="fas fa-redo-alt"></i>Method</h2>

    <a class="btn-green btn-lg" href="{{ url('method!create') }}">New Method</a>

    <table class="table">
        <thead>
        <tr>
            <th>Method</th>
            <th>Parameters</th>
            <th>Return</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for method in methods %}
            <tr>
                <td>
                    {% if method.static %}
                        static {{ method.method }}
                    {% else %}
                        {{ method.method }}
                    {% endif %}
                </td>
                <td>
                    {% if method.parameters %}
                        {{ method.parameters }}
                    {% else %}
                        <i class="fas fa-ban fa-lg"></i>
                    {% endif %}
                </td>
                <td>
                    {% if method.return %}
                        {{ method.return }}
                    {% else %}
                        <i class="fas fa-ban fa-lg"></i>
                    {% endif %}
                </td>
                <td>
                    <a class="btn-blue" href="{{ url('method!update', {'id': method.id}) }}">
                        <i class="fas fa-pen-square fa-fw fa-lg"></i>
                    </a>
                    <a class="btn-red" href="{{ url('method!delete', {'id': method.id}) }}">
                        <i class="fas fa-times-circle fa-fw fa-lg"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Method</th>
            <th>Parameters</th>
            <th>Return</th>
            <th>Actions</th>
        </tr>
        </tfoot>
    </table>
</section>
