{% extends 'layout/layout.twig' %}

{% block title %}Administration{% endblock %}

{% block description %}{% endblock %}

{% block main %}
    <input id="menu-radio1" 
        class="menu-radio1" 
        type="radio" 
        name="menu" 
        checked>
    <input id="menu-radio2" 
        class="menu-radio2" 
        type="radio" 
        name="menu">
    <input id="menu-radio3" 
        class="menu-radio3" 
        type="radio" 
        name="menu">
    <input id="menu-radio4" 
        class="menu-radio4" 
        type="radio" 
        name="menu">

    <nav class="menu">
        <label class="button-red" 
            for="menu-radio1" 
            title="Show the Classes">
            <i class="far fa-file-code onto-color-red"></i>
            <span class="onto-color-red">
                Class
            </span>
        </label>
        <label class="button-green" 
            for="menu-radio2" 
            title="Show the Properties">
            <i class="fas fa-atom onto-color-green"></i>
            <span class="onto-color-green">
                Property
            </span>
        </label>
        <label class="button-blue" 
            for="menu-radio3" 
            title="Show the Methods">
            <i class="fas fa-redo-alt onto-color-blue"></i>
            <span class="onto-color-blue">
                Method
            </span>
        </label>
        <label class="button-purple" 
            for="menu-radio4" 
            title="Show the Users">
            <i class="far fa-user onto-color-violet"></i>
            <span class="onto-color-violet">
                User
            </span>
        </label>
    </nav>

    <main id="admin" 
        class="menu-relay">
        <section class="menu-target1">
            <h2>
                <i class="far fa-file-code"></i> 
                Class
            </h2>

            <a class="btn-green btn-lg" 
                href="{{ url('class!create') }}">
                New Class
            </a>

            <table class="table">
                <thead>
                <tr>
                    <th>Class</th>
                    <th>Extends|Implements</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                {% for class in classes %}
                    <tr>
                        <td>

                            {% if class.interface %}
                                interface {{ class.path }}{{ class.class }}
                            {% elseif class.abstract %}
                                abstract class {{ class.path }}{{ class.class }}
                            {% else %}
                                class {{ class.path }}{{ class.class }}
                            {% endif %}

                            {% if class.parameters %}
                                <hr>
                                {{ class.parameters }}
                            {% endif %}

                        </td>
                        <td>

                            {% if class.extends %}
                                extends {{ class.extends }}
                            {% elseif class.implements %}
                                implements {{ class.implements }}
                            {% else %}
                                <i class="fas fa-ban fa-lg"></i>
                            {% endif %}

                        </td>
                        <td>
                            <a class="btn-blue" 
                                href="{{ url('class!update', {'id': class.id}) }}">
                                <i class="fas fa-pen-square fa-fw fa-lg"></i>
                            </a>
                            <a class="btn-red" 
                                href="{{ url('class!delete', {'id': class.id}) }}">
                                <i class="fas fa-times-circle fa-fw fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                    <th>Class</th>
                    <th>Extends|Implements</th>
                    <th>Actions</th>
                </tr>
                </tfoot>
            </table>
        </section>

        <section class="menu-target2">
            <h2>
                <i class="fas fa-atom"></i> 
                Property
            </h2>

            <a class="btn-green btn-lg" 
                href="{{ url('property!create') }}">
                New Property
            </a>

            <table class="table">
                <thead>
                <tr>
                    <th>Property</th>
                    <th>Value Type</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                {% for property in properties %}
                    <tr>
                        <td>

                            {% if property.constant %}
                                const {{ property.property }}
                            {% elseif property.static %}
                                {{ property.visibility }} static {{ property.property }}
                            {% else %}
                                {{ property.visibility }} {{ property.property }}
                            {% endif %}

                        </td>
                        <td>{{ property.value_type }}</td>
                        <td>
                            <a class="btn-blue" 
                                href="{{ url('property!update', {'id': property.id}) }}">
                                <i class="fas fa-pen-square fa-fw fa-lg"></i>
                            </a>
                            <a class="btn-red" 
                                href="{{ url('property!delete', {'id': property.id}) }}">
                                <i class="fas fa-times-circle fa-fw fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                    <th>Actions</th>
                </tr>
                </tfoot>
            </table>
        </section>

        <section class="menu-target3">
            <h2>
                <i class="fas fa-redo-alt"></i> 
                Method
            </h2>

            <a class="btn-green btn-lg" 
                href="{{ url('method!create') }}">
                New Method
            </a>

            <table class="table">
                <thead>
                <tr>
                    <th>Method</th>
                    <th>Parameters</th>
                    <th>Return</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                {% for method in methods %}
                    <tr>
                        <td>

                            {% if method.static %}
                                static {{ method.method }}
                            {% else %}
                                {{ method.method }}
                            {% endif %}

                        </td>
                        <td>

                            {% if method.parameters %}
                                {{ method.parameters }}
                            {% else %}
                                <i class="fas fa-ban fa-lg"></i>
                            {% endif %}

                        </td>
                        <td>

                            {% if method.return %}
                                {{ method.return }}
                            {% else %}
                                <i class="fas fa-ban fa-lg"></i>
                            {% endif %}

                        </td>
                        <td>
                            <a class="btn-blue" 
                                href="{{ url('method!update', {'id': method.id}) }}">
                                <i class="fas fa-pen-square fa-fw fa-lg"></i>
                            </a>
                            <a class="btn-red" 
                                href="{{ url('method!delete', {'id': method.id}) }}">
                                <i class="fas fa-times-circle fa-fw fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                    <th>Method</th>
                    <th>Parameters</th>
                    <th>Return</th>
                    <th>Actions</th>
                </tr>
                </tfoot>
            </table>
        </section>

        <section class="menu-target4">
            <h2>
                <i class="far fa-user"></i> 
                User
            </h2>

            <a class="btn-green btn-lg" 
                href="{{ url('user!create') }}">
                New User
            </a>

            <table class="table">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                {% for user in users %}
                    <tr>
                        <td>
                            <figure>
                                <img class="bord-purple" 
                                    src="img/user/{{ user.image }}" 
                                    alt="Screenshot of {{ user.name }}">
                                <figcaption>
                                    {{ user.name }}
                                </figcaption>
                            </figure>
                        </td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a class="btn-blue" 
                                href="{{ url('user!update', {'id': user.id}) }}">
                                <i class="fas fa-pen-square fa-fw fa-lg"></i>
                            </a>
                            <a class="btn-red" 
                                href="{{ url('user!delete', {'id': user.id}) }}">
                                <i class="fas fa-times-circle fa-fw fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}
