<section id="{{ class.class|lower }}" class="font-monospace">
    <h3 class="deco">
        {{ loop.index }} -
        {% if class.interface %}
            interface {{ class.class }}
        {% elseif class.abstract %}
            abstract class {{ class.class }}
        {% else %}
            class {{ class.class }}
        {% endif %}
    </h3>

    <p class="bord-rounded bg-gray color-white pad-sm font-sans-serif">{{ class.definition }}</p>

    <ul class="color-purple">
        <li class="font-italic">Namespace Pam\{{ class.path }}</li>

        {% if class.extends %}
            <li>Extends {{ class.extends }}</li>
        {% endif %}

        {% if class.implements %}
            <li>Implements {{ class.implements }}</li>
        {% endif %}

        {% if class.constructor %}
            <li>
                <span class="font-italic">Constructor Parameters</span> : {{ class.constructor }}
            </li>
        {% endif %}

        <li class="mar-md">
            <a class="btn-purple" href="https://github.com/philippebeck/pam/blob/master/core/{{ class.path|replace({'\\': "/"}) }}/{{ class.class }}.php">
                <i class="fas fa-code fa-lg"></i> Code Source
            </a>
        </li>
    </ul>

    <table class="table color-gray">
        {% for property in properties %}
            {% if property.class_id is same as(class.id) %}
                <tr>
                    {% if property.constant %}
                        <td>const {{ property.property }}</td>
                    {% elseif property.static %}
                        <td>{{ property.visibility }} static {{ property.property }}</td>
                    {% else %}
                        <td>{{ property.visibility }} {{ property.property }}</td>
                    {% endif %}
                    <td>{{ property.valor }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    <section>
        <h4 class="font-bold deco-dot">
            Usage <i class="far fa-hand-point-down"></i>
        </h4>

        <header class="color-purple font-bold font-italic">
            <p>Use Pam\{{ class.path }}\{{ class.class }}</p>
            {% for property in properties %}
                {% if property.class_id is same as(class.id) and property.visibility is same as('protected') %}
                    <p>Use the protected property {{ property.property}} to access the value of type {{ property.valor }} !</p>
                {% endif %}
            {% endfor %}
        </header>

        <section>
            <h5>
                <i class="fas fa-recycle"></i> Available Methods
            </h5>

            <ul>
                {% for method in methods %}
                    {% if method.class_id is same as(class.id) %}
                        <li>
                            <ul class="color-blue">
                                <li>
                                    {% if method.static %}
                                        public static function <span class="font-bold deco-dash">{{ method.method }}</span> ({{ method.parameters }})
                                    {% else %}
                                        public function <span class="font-bold deco-dash">{{ method.method }}</span> ({{ method.parameters }})
                                    {% endif %}
                                </li>
                                <li>
                                    <p class="bg-silver color-navy pad-sm font-sans-serif">{{ method.function }}</p>
                                </li>
                                <li>
                                    {% if method.return %}
                                        <span class="font-italic">Return value</span> = {{ method.return }}
                                    {% endif %}
                                </li>
                            </ul>
                            <i class="fas fa-minus fa-2x mar-md"></i>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </section>
    </section>
</section>
