{% extends 'layout/layout.twig' %}

{% block title %}Common Usage{% endblock %}

{% block description %}Common Usage of Pam, the Php Adaptive Microframework{% endblock %}

{% block main %}
<main id="usage-home"
    class="menu-target2">

    <h2 class="anima-shrink-this">
        <i class="fas fa-keyboard fa-lg"></i> 
        Implementation
    </h2>

    <header class="head">
        Pam is very easy to use & very light to implement !
    </header>

    <nav class="sidebar">
        <input id="sidebar-usage"
            class="sidebar-check" 
            type="checkbox">
        <label for="sidebar-usage"
            class="sidebar-open" 
            title="Show Sidebar">
            <i class="far fa-eye fa-lg fa-fw"></i>
        </label>
        <label for="sidebar-usage"
            title="Hide Sidebar">
            <i class="far fa-eye-slash fa-lg fa-fw"></i>
        </label>

        <a href="#usage-config" 
            title="Usage Config">
            <i class="fas fa-cogs fa-lg fa-fw"></i>
        </a>
        <a href="#usage-index" 
            title="Usage Index">
            <i class="fab fa-firefox-browser fa-lg fa-fw"></i>
        </a>
        <a href="#usage-model" 
            title="Usage Model">
            <i class="fas fa-database fa-lg fa-fw"></i>
        </a>
        <a href="#usage-view" 
            title="Usage View">
            <i class="fas fa-desktop fa-lg fa-fw"></i>
        </a>
        <a href="#usage-controller" 
            title="Usage Controller">
            <i class="fas fa-server fa-lg fa-fw"></i>
        </a>
        <a href="#usage-home" 
            title="Usage Home">
            <i class="fas fa-chevron-circle-up fa-lg fa-fw"></i>
        </a>
    </nav>

    <i class="fas fa-chevron-down fa-2x mar-top-lg" 
        aria-hidden="true"></i>

    {{ include("front/usageConfig.twig") }}

    <i class="fas fa-sort fa-2x mar-top-lg" 
        aria-hidden="true"></i>

    {{ include("front/usageIndex.twig") }}

    <i class="fas fa-sort fa-2x mar-top-lg" 
        aria-hidden="true"></i>

    {{ include("front/usageModel.twig") }}

    <i class="fas fa-sort fa-2x mar-top-lg" 
        aria-hidden="true"></i>

    {{ include("front/usageView.twig") }}

    <i class="fas fa-sort fa-2x mar-top-lg" 
        aria-hidden="true"></i>

    {{ include("front/usageController.twig") }}

</main>
{% endblock %}
